
.main_container{
    height: 100vh;
    width: auto;
    background-image: url(../assets/vann.jpeg);
     background-size: cover;
}



.menu_container{
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 213, 255, 0.816);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo_link img{
    height: 150px;
    width: 150px;
}


.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar_form{
    width: 100%;
    max-width: 700px;
   
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding:10px 20px ;
    background-color: white;
}

.searchbar_form input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: black;
}

::placeholder{
    color: rgb(121, 121, 121);
}

.searchbar_form button img{
width: 25px;
}

.searchbar_form button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: white;
    cursor: pointer;

    }

.searchbar :hover{
    border: 3px solid turquoise;
}

.searchbar_form :hover{
    border: 0px;
}


.shortcut_buttons{
    position: absolute;
    bottom: 10px;
    height: fit-content;
    width: 100%;
    background-color:rgba(0, 213, 255, 0.816);
    display: flex;
    justify-content: space-between;
    align-items: center;
}